body {
  font-family: 'Roboto Mono', monospace;
}

.patch-picture {
  height: 250px;
  width: auto;
  margin: 20px;
}

.single-patch-picture {
  height: 250px;
  width: auto;
  margin: 20px;
}

.upcoming-patch {
  margin: 15px;
}

.home-body {
  height: 100vh;
  width: auto;
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwww.spacex.com%2Fsites%2Fall%2Fthemes%2Fspacex2012%2Fimages%2Fmars%2Fmars-launch.jpg%3F20180918);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Special Elite', cursive;
  color: black;
}    

.home-intro {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  text-align: center;
  width: 700px;
}

.navbar {
  background-color: black;
}

.navbar-item {
  margin: 0 25px;
}

button {
  padding: 30px;
  margin: 20px;
  font-size: 20px;
  background-color: rgba(37, 37, 37, .3);
  border: 1px solid black;
}

.past-body {
  display: flex;
  overflow-x: scroll;
}

.each-card-past {
  background-color: rgba(15, 15, 15, .75);
  border: 1px solid rgba(231, 111, 12, .8);
  min-width: 300px;
  text-align: center;
  padding-top: 10px;
  margin: 0 10px;
}

.upcoming-body {
  display: flex;
  overflow-x: scroll;
}

.each-card-upcoming {
  background-color: rgba(15, 15, 15, .75);
  border: 1px solid rgba(231, 111, 12, .8);
  min-width: 300px;
  text-align: center;
  padding-top: 10px;
  margin: 0 10px;
}

.single-launch-body {
  display: flex;
  justify-content: space-around;
}

.rocket-picture-container {
  display: flex;
  align-items: center;
}

.rocket-picture {
  height: 550px;
  width: auto;
}

.single-launch-info {
  margin-top: 20px;
  max-width: 770px;
  text-align: justify;
  color: beige;
  background-color: rgba(36, 35, 35, .28);
  padding: 20px;
}

.past-introduction {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: rgba(231, 111, 12, .8);
}

.upcoming-introduction {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: rgba(58, 56, 54, 0.8);
}

.past-background {
  height: 100vh;
  background-image: url(https://img2.goodfon.com/wallpaper/nbig/1/26/mars-kanon-solnce-tuman.jpg);
  background-size: cover;
}

.upcoming-background {
  height: 100vh;
  background-image: url(https://i.imgur.com/5PCca1O.jpg);
  background-size: cover;
}

.single-background {
  height: 100vh;
  background-image: url(https://wallpapersite.com/images/wallpapers/mars-3840x1790-astronaut-alone-sci-fi-4k-14678.jpg);
  background-size: cover;
}
